<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>支付方式</title>
		<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script src="dist/js/bootstrap.js"></script>
	</head>
	<body>
		
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="logo">
							<img src="img/logo.jpg"/>
							<p>健康小管家</p>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav_top">
							<li><a href="#">首页</a></li>
							<li><a href="#">我的订单</a></li>
							<li class="active"><a href="#">入驻加盟</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<div class="search">
							<input type="text" placeholder="请输入全称搜索" />
							<span>搜&nbsp;&nbsp;索</span>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="erweima">
							<img src="img/erweima.jpg"/>
							<p>APP下载</p>
						</div>
					</div>
				</div>
			
			</div>
		</header>
		<section id="main-payment">
			<h2>选择支付方式</h2>
			<div class="main-payment-box">
				<img src="img/zhubo/wxzhifu.jpg"/>
				<h4>微信支付</h4>
				<input name="radio" type="radio" id="a" value=""/><label for="a" class="check"></label>
			</div>
			<div class="main-payment-box">
				<img src="img/zhubo/zhifubao.jpg"/>
				<h4>支付宝支付</h4>
				<input name="radio" type="radio" id="b" value=""/><label for="b" class="check"></label>
			</div>
			<div class="main-payment-money">
				<h3>总价：</h3><h3>￥</h3><h3>225</h3>
			</div>
			<div class="main-payment-btn">
				支&nbsp;&nbsp;&nbsp;&nbsp;付
			</div>
		</section>
		<footer id="footer">
			<div class="bottom">
				<p>客服电话：0731-88888888</p>
				<p>周一至周日 9:00-23:00</p>
			</div>
		</footer>
	</body>
<script type="text/javascript">
	$(function(){
		
	})
</script>
</html>
