<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>药品详情</title>
		<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="dist/js/bootstrap.js"></script>
	</head>
	<body>
		
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="logo">
							<img src="img/logo.jpg"/>
							<p>健康小管家</p>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav_top">
							<li class="active"><a href="#">首页</a></li>
							<li><a href="#">我的订单</a></li>
							<li><a href="#">入驻加盟</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<div class="search">
							<input type="text" placeholder="请输入全称搜索" />
							<span>搜&nbsp;&nbsp;索</span>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="erweima">
							<img src="img/erweima.jpg"/>
							<p>APP下载</p>
						</div>
					</div>
				</div>
			
			</div>
		</header>
		<section id="content">
			<div class="container min_width">
				<div class="row">
					<div class="diseases_content common_content">
						<div class="diseases_content_top">
							<div class="media">
  								<div class="media-left">
    								<a href="#">
      									<img class="media-object" src="img/xy/medicine_lg.jpg" alt="...">
    								</a>
  								</div>
  								<div class="media-body">
    								<p class="media-heading medicine_name">骨痛灵酊</p>
    								<p class="media-content medicine_price">价格：558元</p>
    								<a href="shop_cart.html" class="add_to_cart">加入购物车</a>
  								</div>
							</div>
						</div>
						<div class="diseases_content_middle">
							<div class="brief_intro_header common_header_style">
								<span class="brief_intro_icon">
									<img src="img/xy/brief_intro.jpg"/>
								</span>
								<p class="brief_intro_text">简介</p>
							</div>
							<div class="brief_intro_content">
								<ul>
									<li>
										<div class="brief_intro_content_title">【用法用量】</div>
										<p class="brief_intro_content_txt">开水冲服，一次1袋，一日3次。小儿减量或遵医嘱。。</p>
									</li>
									<li>
										<div class="brief_intro_content_title">【成分】</div>
										<p class="brief_intro_content_txt">三叉苦、岗梅、金盏银盘、薄荷油、野菊花、马来酸氯苯那敏、咖啡因、对乙酰氨基酚。辅料为蔗糖粉。</p>
									</li>
									<li>
										<div class="brief_intro_content_title">【服用禁忌】</div>
										<p class="brief_intro_content_txt">严重肝肾功能不全者禁用</p>
									</li>
									<li>
										<div class="brief_intro_content_title">【注意事项】</div>
										<p class="brief_intro_content_txt">1.忌烟，酒及辛辣，生冷，油腻食物。</p>
										<p class="brief_intro_content_txt">2.不宜在服药期间同时服用滋补性中成药</p>
										<p class="brief_intro_content_txt">3. 高血压、心脏病、肝病、肾病等慢性病严重者应在医师指导下服用。</p>
										<p class="brief_intro_content_txt">4.本品含对乙氨基酚，马来酸氨苯那敏，咖啡因。服用本品期间不得饮酒或含有酒精的饮料；不能同时服用与本品成分相似的其它抗感冒药；肝，肾功能不全者慎用；膀胱颈梗阻，甲状腺功能亢进，青光眼，高血压和前列腺肥大者慎用；孕妇及哺乳期妇女慎用；服药期间不得驾驶机，车，船，从事高空作业，机械作业及操作精密仪器。</p>
										<p class="brief_intro_content_txt">5.脾胃虚寒，症见腹痛，喜暖，泄泻者慎用。6.糖尿病患者、消化道溃疡患者、膀胱颈梗阻、幽门十二指肠梗阻、甲状腺机能亢进、青光眼以及前列腺肥大等患者慎用。</p>
										<p class="brief_intro_content_txt">6.儿童，年老体弱者应在医师指导下使用。8.服药3天后症状无改善，或症状加重，或出现新的严重症状如胸闷，心悸等应立即停药，并去医院就诊。</p>
										<p class="brief_intro_content_txt">9.对本药过敏者禁用，过敏体质者慎用。。</p>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<footer id="footer">
			<div class="bottom">
				<p>客服电话：0731-88888888</p>
				<p>周一至周日 9:00-23:00</p>
			</div>
		</footer>
	</body>
</html>
