<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>注册帐号</title>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
	</head>
	<body id="login-backg">
		<div class="reg-ret-mid">
			<img src="img/zhubo/reg.png" class="rr-img"/>
			<div class="login-inp">
				<img src="img/zhubo/man.png"/>
				<input type="tel" name="" id="" value="" placeholder="请输入您的姓名"/>
			</div>
			<div class="login-inp">
				<img src="img/zhubo/pho.png"/>
				<input type="password" name="" id="" value="" placeholder="请输入手机号"/>
			</div>
			<div class="login-two">
				<input type="text" name="" id="" value="" placeholder="输入验证码"/>
				<button>获取验证码</button>
			</div>
			<div class="login-inp">
				<img src="img/zhubo/passw.png"/>
				<input type="password" name="" id="" value="" placeholder="请输入密码"/>
			</div>
			<div class="login-inp">
				<img src="img/zhubo/passw.png"/>
				<input type="password" name="" id="" value="" placeholder="确认新密码"/>
			</div>
			<button>确&nbsp;&nbsp;&nbsp;&nbsp;定</button>
			<h2>已有帐号，登录</h2>
		</div>
	</body>
<script type="text/javascript">
	$(function(){
		$('.reg-ret-mid').on('click','h2',function(){
			window.location.href='login.html'
		})
	})
</script>
</html>
