{extend name="base/common" /}
{block name="body"}
	<div class="wrapper wrapper-content animated fadeIn">
		<div class="ibox float-e-margins">
				<div class="ibox-title">
                        <h5>药品详情</h5>
                 </div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-sm-12">
						<div class="tabs-container">
							<div class="tab-content">
									<div class="ibox-content" style="border:none" >
										<form class="form-horizontal" action="" method="post">
											<input type="hidden" name="id" value="{$info.id}">

											<div class="form-group">
												<label class=".col-xs-6 col-sm-2 control-label text-right">ID</label>
												<div class=".col-xs-6 col-sm-10">
													<input type="text" class="form-control" value="{$info.id}" name="id" readonly="readonly" />
												</div>
											</div>

											<div class="form-group">
												<label class=".col-xs-6 col-sm-2 control-label text-right">名称</label>
												<div class=".col-xs-6 col-sm-10">
													<input type="text" class="form-control" value="{$info.name}" name="name" readonly="readonly" />
												</div>
											</div>

											<div class="form-group">
												<label class=".col-xs-6 col-sm-2 control-label text-right">分类</label>
												<div class=".col-xs-6 col-sm-10">
													<input type="text" class="form-control" value="{$info.class}" name="name" readonly="readonly" />
												</div>
											</div>

											<div class="form-group">
												<label class=".col-xs-6 col-sm-2 control-label text-right">简介</label>
												<div class=".col-xs-6 col-sm-10">
													<textarea rows="5" cols="100" style="resize: none;" name="summary" readonly="readonly" >{$info.summary}</textarea>
												</div>
											</div>

											<div class="form-group">
												<label class=".col-xs-6 col-sm-2 control-label text-right">库存</label>
												<div class=".col-xs-6 col-sm-10">
													<input type="text" class="form-control" value="{$info.stock}" name="stock" readonly="readonly"/>
												</div>
											</div>

											<div class="form-group">
												<label class=".col-xs-6 col-sm-2 control-label text-right">销量</label>
												<div class=".col-xs-6 col-sm-10">
													<input type="text" class="form-control" value="{$info.sales}" name="sales" readonly="readonly"/>
												</div>
											</div>

											<div class="form-group">
												<div class="col-sm-2"></div>
												<div class="col-sm-4">
													<!--<button class="btn btn-primary ajax-post" type="submit" target-form="form-horizontal">保存</button>-->
													<button class="btn btn-white btn-back" type="button" >返回</button>
												</div>
											</div>
										</form>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 {/block}