{extend name="common/common" /}
{block name="body"}
		<section id="content">
			<div class="container min_width">
				<div class="row">
					<div class="diseases_content common_content">
						<div class="diseases_content_top">
							<div class="media">
  								<div class="media-left">
    								<a href="#">
      									<img class="media-object" src="{$_img}/xy/diseases_lg.jpg" alt="...">
    								</a>
  								</div>
  								<div class="media-body">
    								<p class="media-heading medicine_name">骨折</p>
    								<p class="media-content medicine_price">价格：558元</p>
    								<div class="btns">
    									<a href="#" class="order">预约</a>
    									<a href="#" class="drop_in">上门</a>
    								</div>
  								</div>
							</div>
						</div>
						<div class="diseases_content_middle">
							<div class="brief_intro_header common_header_style">
								<span class="brief_intro_icon">
									<img src="{$_img}/xy/brief_intro.jpg"/>
								</span>
								<p class="brief_intro_text">简介</p>
							</div>
							<div class="brief_intro_content">
								<p>锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节脱位，股骨颈骨折，股骨转子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。</p>
								<p>骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进了。</p>
								<p>锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节脱位，股骨颈骨折，股骨转子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节脱位，股骨颈骨折，股骨转子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。</p>
								<p>骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等</p>
								<p>疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进了。锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。</p>
								<p>骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进了。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	

<!--时间弹窗-->
<script>
$(".order").shijian({
	y:10,
	okfun:function(){
		window.location.href="{:url('shopcar/address')}";
	}
})
$(".drop_in").shijian({
	y:10,
	okfun:function(){
		window.location.href="{:url('shopcar/address')}";
	}
})
</script>
<!-- <script>
	sjObj.defaults = {
		type: "time",
		Format: "yyyy-mm-dd", //显示时间格式//yyyy表示年份 ，mm月份 ，dd天数  支持三种格式 dd-mm-yyyy ，mm-dd-yyyy yyyy-mm-dd
		Order: 'yymmdd',
		width: 60, //默认宽度
		height: 32,//默认数值高度
		Year: true, //是否显示年//
		Month: true, //是否显示月//
		Day: true, //是否显示日//
		Hour: true, //是否显示小时
		Minute: true, //是否显示分钟
		Seconds: false, //是否显示秒
		yyyy: "0000", //当前显示年
		mm: "00", //当前显示月
		dd: "00", //当前显示日
		h: "00", //当前显示小时
		m: "00", //当前显示分
		s: "00", //当前显示秒
		yearText: "年", //顶部时间 年单位 文字
		monthText: "月", //顶部时间 月单位 文字
		dayText: '日', //顶部时间 日单位 文字
		hourText: '时', //顶部时间 时单位 文字
		minuteText: '分', //顶部时间 分单位 文字
		secondsText: '秒', //顶部时间 秒单位 文字
		okText: "确定", //按钮确认键文字
		cancelText: "取消", //按钮取消键文字
		showNowTime: true, //是否默认显示当前时间
		alwaysShow: false, //是否默认直接显示插件
		timeElm: ".df-box", //放时间插件的box
		onfun: function() { //取消改变时间时候执行事件
		
		},
		okfun: function() { //确认时间时候执行事件
			// window.location.href = "{:url('shop/shop_cart')}"
			// alert(1111)
		},

	}

</script> -->
{/block}
