{extend name="common/common" /}
{block name="body"}
		<section id="content">
			<div class="container min_width">
				<div class="row">
					<div class="diseases_header common_header">
						<div class="diseases_choice">
							<p>病种选择</p>
						</div>
						<div class="diseases_detail pl_0">
							<div class="wrapper-box-top">
								<div class="ul-box-top">
									<ul class="diseases_detail_top">
									{volist name = "list" id="vo"}
										<li><a href="#" fid="{$vo.id}">{$vo.name}</a></li>
									{/volist}	
									</ul>
									<!-- <ul class="diseases_detail_top">
										<li><a href="">骨创伤</a></li>
										<li><a href="#">骨关节外科</a></li>	
										<li><a href="#">脊柱外科</a></li>	
										<li class="active"><a href="#">颈椎病</a></li>
										<li><a href="#">骨关节外科</a></li>	
										<li><a href="#">脊柱外科</a></li>	
										<li><a href="#">颈椎病</a></li>	
										<li><a href="#">骨关节外科</a></li>									
										<li><a href="#">脊柱外科</a></li>	
										<li><a href="#">颈椎病</a></li>
									</ul> -->
								</div>
								<span class="more_r"><a href="#"><img src="{$_img}/xy/more_r.jpg"/></a></span>
							</div>
							<div class="wrapper-box-bottom">
								<div class="ul-box-bottom">
									<ul class="diseases_detail_bottom">
									  {volist name= "l_child" id ="vo"}
										<li><a href="{:url('index/diseases_detail')}" cid="{$vo.father_id}"> {$vo.name}</a></li>
									  {/volist}
										<!-- <li><a href="#">骨关节外科</a></li>	
										<li><a href="#">脊柱外科</a></li>	
										<li class="active"><a href="#">颈椎病</a></li>
										<li><a href="#">骨关节外科</a></li>	
										<li><a href="#">脊柱外科</a></li>	
										<li><a href="#">颈椎病</a></li>	
										<li><a href="#">骨关节外科</a></li>									
										<li><a href="#">脊柱外科</a></li>	
										<li><a href="#">颈椎病</a></li>	 -->
									</ul>
									<!-- <ul class="diseases_detail_bottom">
										<li><a href="{:url('index/diseases_detail')}">骨创伤</a></li>
										<li><a href="#">骨关节外科</a></li>	
										<li><a href="#">脊柱外科</a></li>
										<li><a href="#">骨关节外科</a></li>	
										<li><a href="#">脊柱外科</a></li>	
										<li><a href="#">颈椎病</a></li>	
										<li><a href="#">骨关节外科</a></li>									
										<li><a href="#">脊柱外科</a></li>	
										<li><a href="#">颈椎病</a></li>	
										<li><a href="#">骨关节外科</a></li>
									</ul> -->
								</div>
								<span class="more_br"><a href="#"><img src="{$_img}/xy/more_r.jpg"/></a></span>
							</div>
						</div>
					</div>
					<div class="diseases_content common_content">
						<div class="diseases_content_top">
							<div class="media">
  								<div class="media-left">
    								<a href="#">
      									<img class="media-object" src="{$_img}/xy/hospital_lg.jpg" alt="...">
    								</a>
  								</div>
  								<div class="media-body">
    								<p class="media-heading">北华大学附属医院</p>
    								<p class="media-content">地址：星沙国际物流园A-10栋7号</p>
  								</div>
							</div>
						</div>
						<div class="diseases_content_middle">
							<div class="brief_intro_header common_header_style">
								<span class="brief_intro_icon">
									<img src="{$_img}/xy/brief_intro.jpg"/>
								</span>
								<p class="brief_intro_text">简介</p>
							</div>
							<div class="brief_intro_content">
								<p>北华大学附属医院始建于1958年，经过附属医院人四十五年的奋斗，现已发展成为科室建制完善、人才梯队合理、技术水平领先、医疗设备精良的综合性三级甲等医院。医院以雄厚的技术实力、先进的医疗设备、优良的服务水平享誉省内外。
								</p>
								<p>北华大学医学院附属医院(原吉林医学院附属医院)又称北华大学医学院第一临床学院，座落于吉林省第二大城市吉林市松花江畔，地处城市繁华的文化商贸中心大东门广场南侧，解放大路西18号。该院成立于1958年4月，经历四十多年的发展建设，现已成为科室建制齐全，医疗设备精良，融医疗、教学、科研、预防保健、社区医疗服务等功能为一体的综合性三级甲等医院，是吉林省基层医疗卫生技术人员培训基地。全院开放床位700张，年门诊量30万人次，收治病人1.5万人次。因承担着北华大学临床教学任务，在管理体制上实行“院系合</p>
							</div>
						</div>
						<div class="diseases_content_bottom">
							<div class="comment_header common_header_style">
								<span class="brief_intro_icon">
									<img src="{$_img}/xy/comment.jpg"/>
								</span>
								<p class="brief_intro_text">评论</p>
							</div>
							<div class="comment_content">
								<ul>
									<li>
										<div class="comment_content_top">
											<span class="comment_name">张三丰</span>
											<span class="comment_date">2017-01-02</span>
										</div>
										<div class="comment_content_bottom">团结、拼搏、奋发、向上的精神面貌迎接各种挑战，用高超的技术，优良的服务，诚实的信誉，高尚的品格为江城人民的医疗保障事业作出更大的贡献。</div>
									</li>
									<li>
										<div class="comment_content_top">
											<span class="comment_name">张三丰</span>
											<span class="comment_date">2017-01-02</span>
										</div>
										<div class="comment_content_bottom">团结、拼搏、奋发、向上的精神面貌迎接各种挑战，用高超的技术，优良的服务，诚实的信誉，高尚的品格为江城人民的医疗保障事业作出更大的贡献。</div>
									</li>
									<li>
										<div class="comment_content_top">
											<span class="comment_name">张三丰</span>
											<span class="comment_date">2017-01-02</span>
										</div>
										<div class="comment_content_bottom">团结、拼搏、奋发、向上的精神面貌迎接各种挑战，用高超的技术，优良的服务，诚实的信誉，高尚的品格为江城人民的医疗保障事业作出更大的贡献。</div>
									</li>
									<li>
										<div class="comment_content_top">
											<span class="comment_name">张三丰</span>
											<span class="comment_date">2017-01-02</span>
										</div>
										<div class="comment_content_bottom">团结、拼搏、奋发、向上的精神面貌迎接各种挑战，用高超的技术，优良的服务，诚实的信誉，高尚的品格为江城人民的医疗保障事业作出更大的贡献。</div>
									</li>
									<li>
										<div class="comment_content_top">
											<span class="comment_name">张三丰</span>
											<span class="comment_date">2017-01-02</span>
										</div>
										<div class="comment_content_bottom">团结、拼搏、奋发、向上的精神面貌迎接各种挑战，用高超的技术，优良的服务，诚实的信誉，高尚的品格为江城人民的医疗保障事业作出更大的贡献。</div>
									</li>
								</ul>
								<div class="navigation">
								  <ol class="wp-paginate">
								    <li><a href="#" class="page current">1</a></li>
								    <li><a href="#" title="2" class="page">2</a></li>
								    <li><a href="#" title="3" class="page">3</a></li>
								    <li><a href="#" title="4" class="page">4</a></li>
								    <li><a href="#" title="5" class="page">5</a></li>
								    <li><span class="gap">...</span></li>
								    <li><a href="#" title="12" class="page">12</a></li>
								  </ol>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>	
<script>
	$(function(){
		// 导航栏上面一栏
		$(".diseases_detail_top li:first").addClass('active');
		$(".diseases_detail_top li").click(function(){
			$(".diseases_detail_top li").removeClass('active');
			$(this).addClass('active');
		});
		
		
	});
	// 上面的点击效果
	var ulTs = $(".ul-box-top ul"); // 所有的ul
	var ulTLen = ulTs.length-1;
	var ulW = [];
	for(var i = 0;i < ulTs.length;i++){
		ulW[i] = $(ulTs[i]).width();
	}
	var n = 0;
	$(".wrapper-box-top .more_r").click(function(){
		n++;
		console.log(n,ulW[n]);
		$(".ul-box-top").animate({"left":-n*ulW[n]+"px"},300);
		if(n >= ulTLen){n = -1;}
	})
	// 下面一栏的点击效果
	function scrollLeft(scrollBox,ul,target){
		var ulTs = $(ul); // 所有的ul
		var ulTLen = ulTs.length-1;
		var ulW = [];
		for(var i = 0;i < ulTs.length;i++){
			ulW[i] = $(ulTs[i]).width();
		}
		var n = 0;
		$(target).click(function(){
			n++;
			console.log(n,ulW[n]);
			$(scrollBox).animate({"left":-n*ulW[n]+"px"},300);
				if(n >= ulTLen){n = -1;}
		})
		}
	window.onload = function(){
		scrollLeft(".ul-box-bottom",".ul-box-bottom ul",".more_br");
	}

</script>
<script type="text/javascript">

</script>
{/block}
