{extend name="common/common" /}
{block name="body"}
		<section id="main-join-brand">
			<h2>合作品牌</h2>
			<div class="main-join-brand-content">
				<img src="{$_img}/zhubo/shop01.jpg"/>
				<img src="{$_img}/zhubo/shop02.jpg"/>
				<img src="{$_img}/zhubo/shop03.jpg"/>
				<img src="{$_img}/zhubo/shop01.jpg"/>
				<img src="{$_img}/zhubo/shop02.jpg"/>
				<img src="{$_img}/zhubo/shop03.jpg"/>
				<img src="{$_img}/zhubo/shop01.jpg"/>
				<img src="{$_img}/zhubo/shop02.jpg"/>
				<img src="{$_img}/zhubo/shop03.jpg"/>
				<img src="{$_img}/zhubo/shop01.jpg"/>
				<img src="{$_img}/zhubo/shop02.jpg"/>
				<img src="{$_img}/zhubo/shop03.jpg"/>
				<img src="{$_img}/zhubo/shop03.jpg"/>
				<img src="{$_img}/zhubo/shop01.jpg"/>
				<img src="{$_img}/zhubo/shop02.jpg"/>
				<img src="{$_img}/zhubo/shop03.jpg"/>
			</div>
		</section>
	{/block}