<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>合作品牌</title>
		<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script src="dist/js/bootstrap.js"></script>
	</head>
	<body>
		
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="logo">
							<img src="img/logo.jpg"/>
							<p>健康小管家</p>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav_top">
							<li><a href="#">首页</a></li>
							<li><a href="#">我的订单</a></li>
							<li class="active"><a href="#">入驻加盟</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<div class="search">
							<input type="text" placeholder="请输入全称搜索" />
							<span>搜&nbsp;&nbsp;索</span>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="erweima">
							<img src="img/erweima.jpg"/>
							<p>APP下载</p>
						</div>
					</div>
				</div>
			
			</div>
		</header>
		<section id="main-join-brand">
			<h2>合作品牌</h2>
			<div class="main-join-brand-content">
				<img src="img/zhubo/shop01.jpg"/>
				<img src="img/zhubo/shop02.jpg"/>
				<img src="img/zhubo/shop03.jpg"/>
				<img src="img/zhubo/shop01.jpg"/>
				<img src="img/zhubo/shop02.jpg"/>
				<img src="img/zhubo/shop03.jpg"/>
				<img src="img/zhubo/shop01.jpg"/>
				<img src="img/zhubo/shop02.jpg"/>
				<img src="img/zhubo/shop03.jpg"/>
				<img src="img/zhubo/shop01.jpg"/>
				<img src="img/zhubo/shop02.jpg"/>
				<img src="img/zhubo/shop03.jpg"/>
				<img src="img/zhubo/shop03.jpg"/>
				<img src="img/zhubo/shop01.jpg"/>
				<img src="img/zhubo/shop02.jpg"/>
				<img src="img/zhubo/shop03.jpg"/>
			</div>
		</section>
		<footer id="footer">
			<div class="bottom">
				<p>客服电话：0731-88888888</p>
				<p>周一至周日 9:00-23:00</p>
			</div>
		</footer>
	</body>
</html>
