<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>常见问题</title>
		<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css"/>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script src="dist/js/bootstrap.js"></script>
	</head>
	<body>
		
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="logo">
							<img src="img/logo.jpg"/>
							<p>健康小管家</p>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav_top">
							<li><a href="#">首页</a></li>
							<li><a href="#">我的订单</a></li>
							<li class="active"><a href="#">入驻加盟</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<div class="search">
							<input type="text" placeholder="请输入全称搜索" />
							<span>搜&nbsp;&nbsp;索</span>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="erweima">
							<img src="img/erweima.jpg"/>
							<p>APP下载</p>
						</div>
					</div>
				</div>
			
			</div>
		</header>
		<section id="main-join-question">
			<h2>常见问题</h2>
			<div class="main-join-question-content">
				
				<ul>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
					<li>
						<div class="question-content-block">
							<p>Q:与医团看病合作是否需要收费?</p><span></span>
						</div>
						<div class="question-content-none none">
							<c>不同地区标准会有差异，具体合作费用及结算问题，在资质审核通过后，当地业务员会与您洽谈。</c>
						</div>
					</li>
				</ul>
			</div>
			<div class="main-page">
				<span>1</span><span>2</span>...<span>3</span>
			</div>
		</section>
		<footer id="footer">
			<div class="bottom">
				<p>客服电话：0731-88888888</p>
				<p>周一至周日 9:00-23:00</p>
			</div>
		</footer>
	</body>
<script type="text/javascript">
	$(function(){
		$('.main-join-question-content .question-content-block span').on('click',function(){
			if($(this).parent('.question-content-block').siblings().hasClass('none')){
				$(this).css('background','url(img/zhubo/question-2.png)')
				$(this).parent('.question-content-block').siblings().removeClass('none')
			}else{
				$(this).css('background','url(img/zhubo/question-1.png)')
				$(this).parent('.question-content-block').siblings().addClass('none')
			}
			
		})
	})
</script>
</html>
