{extend name="common/common" /}
{block name="body"}
		<section id="main-join-enroll">	
			<div class="main-join-enroll-box">
				<h2>入驻信息</h2>
				<div class="join-enroll-box-input">
					<span>名称</span>
					<input type="text" name="" id="" />
				</div>
				<div class="join-enroll-box-input">
					<span>经营者</span>
					<input type="text" name="" id="" />
				</div>
				<div class="join-enroll-box-input">
					<span>联系方式</span>
					<input type="text" name="" id="" />
				</div>
				<div class="join-enroll-box-input">
					<span>地址</span>
					<input type="text" name="" id="" />
				</div>
			</div>
			<!--<div class="main-join-enroll-imgs">
				<img src="img/zhubo/enroll01.jpg"/>
				<img src="img/zhubo/enroll02.jpg"/>
				<img src="img/zhubo/enroll02.jpg"/>
				<div class="enroll-img-add">
					<span></span>
				</div>
			</div>-->
			
			<div id="fileUploadContent" class="fileUploadContent">
				
			</div>
			
			<div class="main-join-enroll-bottom">
				<div class="main-join-enroll-btn">
					提&nbsp;&nbsp;&nbsp;&nbsp;交
				</div>
			</div>
			
		</section>

<script src="{$_js_}/fileUpload.js"></script>
<script type="text/javascript">
	$(function(){
		$("#fileUploadContent").initUpload({
	        "uploadUrl":"#",//上传文件信息地址
	        "progressUrl":"#",//获取进度信息地址，可选，注意需要返回的data格式如下（{bytesRead: 102516060, contentLength: 102516060, items: 1, percent: 100, startTime: 1489223136317, useTime: 2767}）
	        //"showSummerProgress":false,//总进度条，默认限制
	        //"size":350,//文件大小限制，单位kb,默认不限制
	        "maxFileNumber":9,//文件个数限制，为整数
	        //"filelSavePath":"",//文件上传地址，后台设置的根目录
	          "beforeUpload":beforeUploadFun,//在上传前执行的函数
	          "onUpload":onUploadFun,//在上传后执行的函数
	//      autoCommit:true,//文件是否自动上传
	        //"fileType":['png','jpg','docx','doc']，//文件类型限制，默认不限制，注意写的是文件后缀
	    })
	    function beforeUploadFun(opt){
	    	var imgBoxH = $(".imgShow").outerHeight();
	    	var imgBoxW = $(".imgShow").outerWidth();
				var imgs = $(".upload_image");
				var leng = imgs.length-1;
				imgs[leng].onload = function () {
					for(var i = 0;i < imgs.length;i++){
						var imgH = imgs[i].offsetHeight;
						var imgW = imgs[i].offsetWidth;
						if(imgH >= imgW) {
							imgs[i].style.height = imgBoxH + "px";
							imgs[i].style.width = "auto";
						}else {
							imgs[i].style.width = imgBoxW + "px";
							imgs[i].style.height = "auto";
						}}
				};
	    	console.log("上传之前");
	       // opt.otherData =[{"name":"你要上传的参数","value":"你要上传的值"}];
	    }
	    function onUploadFun(opt,data){
	    	
	    	console.log("上传之后");
	    	$(".progress").hide();
	//      alert(data);
	        //uploadTools.uploadError(opt);//显示上传错误
	    }
	    

	});
    
</script>
{/block}