<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>病种详情（必须住院治疗）</title>
		<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body>
		
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="logo">
							<img src="img/logo.jpg"/>
							<p>健康小管家</p>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav_top">
							<li class="active"><a href="#">首页</a></li>
							<li><a href="#">我的订单</a></li>
							<li><a href="#">入驻加盟</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<div class="search">
							<input type="text" placeholder="请输入全称搜索" />
							<span>搜&nbsp;&nbsp;索</span>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="erweima">
							<img src="img/erweima.jpg"/>
							<p>APP下载</p>
						</div>
					</div>
				</div>
			
			</div>
		</header>
		<section id="content">
			<div class="container min_width">
				<div class="row">
					<div class="diseases_content common_content">
						<div class="diseases_content_top">
							<div class="media">
  								<div class="media-left">
    								<a href="#">
      									<img class="media-object" src="img/xy/diseases_lg.jpg" alt="...">
    								</a>
  								</div>
  								<div class="media-body">
    								<p class="media-heading medicine_name">骨折<span>（住院治疗）</span></p>
    								<p class="media-content medicine_price">价格：558元</p>
    								<div class="btns">
    									<a href="#" class="order">预约</a>
    									<a href="#" class="drop_in">上门</a>
    								</div>
  								</div>
							</div>
						</div>
						<div class="diseases_content_middle">
							<div class="brief_intro_header common_header_style">
								<span class="brief_intro_icon">
									<img src="img/xy/brief_intro.jpg"/>
								</span>
								<p class="brief_intro_text">简介</p>
							</div>
							<div class="brief_intro_content">
								<p>锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节脱位，股骨颈骨折，股骨转子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。</p>
								<p>骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进了。</p>
								<p>锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节脱位，股骨颈骨折，股骨转子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节脱位，股骨颈骨折，股骨转子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。</p>
								<p>骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等</p>
								<p>疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进了。锁骨骨折，肩锁关节脱位，肩关节脱位，肱骨外科颈骨折，肱骨干骨折肱骨髁上骨折，肘关节脱位，桡骨头半脱位，前臂双骨折，桡骨下端骨折；髋关节子间骨折，股骨干骨折，髌骨脱位，髌骨骨折，膝关节韧带损伤，膝关节半月板损伤，胫骨平台骨折，胫腓骨干骨折，踝部骨折，踝部扭伤，足部骨折；脊柱和骨盘骨折。</p>
								<p>骨科是各大医院最常见的科室之一，主要研究骨骼肌肉系统的解剖、生理与病理，运用药物、手术及物理方法保持和发展这一系统的正常形态与功能。随着时代和社会的变更，骨科伤病谱有了明显的变化，例如，骨关节结核、骨髓炎、小儿麻痹症等疾病明显减少，交通事故引起的创伤明显增多。骨科伤病谱的变化，这就需要骨科与时俱进了。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<footer id="footer">
			<div class="bottom">
				<p>客服电话：0731-88888888</p>
				<p>周一至周日 9:00-23:00</p>
			</div>
		</footer>
	</body>
</html>
