<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>选择收货地址</title>
		<link rel="stylesheet" type="text/css" href="dist/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/base.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<script src="js/jquery.js"></script>
	</head>
	<body>
		
		<header id="header">
			<div class="container">
				<div class="row">
					<div class="col-xs-2">
						<div class="logo">
							<img src="img/logo.jpg"/>
							<p>健康小管家</p>
						</div>
					</div>
					<div class="col-xs-4">
						<ul class="nav_top">
							<li class="active"><a href="#">首页</a></li>
							<li><a href="#">我的订单</a></li>
							<li><a href="#">入驻加盟</a></li>
						</ul>
					</div>
					<div class="col-xs-4">
						<div class="search">
							<input type="text" placeholder="请输入全称搜索" />
							<span>搜&nbsp;&nbsp;索</span>
						</div>
					</div>
					<div class="col-xs-2">
						<div class="erweima">
							<img src="img/erweima.jpg"/>
							<p>APP下载</p>
						</div>
					</div>
				</div>
			
			</div>
		</header>
		<section id="content">
			<div class="container min_width">
				<div class="cart_content address_content">
					<div class="cart_content_title">
						<h5>选择地址</h5>
					</div>
					<div class="address_content_list">
						<ul class="row pl_0 pr_0">
							<li class="col-xs-3">
								<div class="address_box default_box">
									<div class="selected"></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p><span>(默认地址)</span>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="address_box">
									<div></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="address_box">
									<div></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="address_box">
									<div></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="address_box">
									<div></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="address_box">
									<div></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
							<li class="col-xs-3">
								<div class="address_box">
									<div></div>
									<div class="address_top">
										<span class="person_name">张三丰</span>
										<span class="person_phone">18856895781</span>
									</div>
									<div class="white_line"></div>
									<div class="address_detail">
										<p>长沙市岳麓区枫林路梅溪湖创新中心</p>
									</div>
									<div class="address_modify"><a href="#" class="modify">修改</a></div>
								</div>
							</li>
						</ul>
						<div class="add_address_box">
							<p class="add_address">新增地址</p>
						</div>
						<a href="#" class="select_confirm">确定</a>
					</div>
				</div>
			</div>
		</section>
		<footer id="footer">
			<div class="bottom">
				<p>客服电话：0731-88888888</p>
				<p>周一至周日 9:00-23:00</p>
			</div>
		</footer>
		
		<!--新增地址弹框-->
		<div class="df-persp df_address">
			<div class="persp-bg"></div>
			<div class="df-box " style="line-height: 42px; padding: 16px; width: 590px;">
				<div class="df_title">
					<p>管理地址</p>
				</div>
				<ul class="df_body">
					<li class="user_name">
						<span>用户姓名</span><input type="text" />
					</li>
					<li class="user_phone">
						<span>联系方式</span><input type="text" />
					</li>
					<li class="user_address">
						<span>我的地址</span><textarea rows="" cols=""></textarea>
					</li>
				</ul>
				<div class="df_bottom">
					<a href="#" class="cancle">取消</a>
					<a href="#" class="save">保存地址</a>
				</div>
			</div>
		</div>
	</body>
</html>
<script>
	// 选择收货地址
	$(".address_box").click(function(e){
	var boxs = $(this).parent('li').siblings().children();
	for(var i = 0;i < boxs.length;i++){
		$(boxs[i]).children().eq(0).removeClass('selected')
	}
	$(this).children().eq(0).addClass("selected");
	});
	
	// 新增地址
	$(".add_address").on("click",function(){
		$(".df_address").show();
		// 弹出框之后禁止滚动
		var scrollTop = document.body.scrollTop;//保存点击前滚动条的位置
		window.onscroll=function(){
			document.body.scrollTop = scrollTop;//赋值给滚动条的位置
		}
	});
	$(".df_bottom .cancle").on("click",function(){
		$(".df_address").hide();
		window.onscroll=function(){
			document.body.scrollTop=document.body.scrollTop;//关闭后清除保存位置的值
		}
	});
</script>